
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


body {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}


.App {
  text-align: center;
  color: rgb(12, 12, 12);
  font-size: large;
  
} 
#i4c.draggable.container{
background-color: darkolivegreen;
}

.ui.menu{
/* align-items: center; */
/* display: grid; */
/* grid-template-columns: 1fr 1fr 1fr; */
padding: 10px;
/* background: #414247 !important; */
margin: 0 !important;

} 
/* navbar*/
.logo{
  position: relative;
  height: 50px;
  padding:  20px;
  background: url('./img/hahulogo.jpg') no-repeat center center/cover;
  margin-left: 10px;
}
.navbar{
  position: relative;
  display: flex;
  float: left;
}

/* Home page */
.pah{
  color: black;
  /* justify-content: space-evenly; */
  margin-left: -200px;
  
}
.Phone {
margin-bottom: 50px;
}
.Address{
  margin-bottom: 50px;
}
.Hours h3{
  
}
.hero {
  background: url('./img/hahuhomepage.jpg') no-repeat center center/cover;
  height: 60vh;
  position: relative;
  color: white;
}

.hero:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.002);
}

.hero * {
  z-index: 50;

}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80vh;
  padding: 20px;
}

.hero-content h1 {
  font-size: 60px;
}

.hero-content p {
  font-size: 34px;
  max-width: 600px;
}

.menu-button {
  /* padding: 20px; */
  background-color: green;
  color: white;
  font-size: 20px;
}
.container menu.button{
margin-bottom: 100px;
padding: 10px;
}
.container-content2{
  margin-top: -250px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 60px;
  color: white;
  margin-bottom: 100px;
}
.container h2 {
  color: black;
}
.container p {
  color: black;
  margin-bottom: 100px;
  /* padding: 100px; */
  
}
.container p {
  color: black;
  margin-bottom: 100px;
  /* padding: 100px; */
  
}


img {
  width: 150px;
  height: 150px;
  background: url('./img/hero-image1.jpg') no-repeat center center/cover;
}
.bottom-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 10vh;
  padding: 10px;
}
.bottom {
  background-color: rgb(31, 31, 31);
  height: 10vh;
  position: relative;
  color: rgb(63, 60, 60);
  bottom: 0;
}
/* Home page ends here */


